<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head">
</head>

<body>

  <div th:replace="common/header"></div>

  <nav th:replace="common/nav"></nav>

  <div class="container mt-5">
    <div class="row">
      <!-- 검색 -->
      <input type="text" name="search">
      <button onclick="search()">search</button>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${list}" th:attr="id=${board.id}">
            <td th:text="${board.id}"></td>
            <td>
              <a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a>
              <span class="badge bg-warning" th:text="@{|${#lists.size(board.comments)}|}"></span>
            </td>
            <td th:text="${board.userId}"></td>
          </tr>
        </tbody>
      </table>

      <!--
      페이지네이션
      <div id="pagination">
        <a href="" th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}"></a>
      </div>
      -->
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <a class="page-link" th:href="@{|/board/list?page=${page}|}" th:text="${page}"></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>

      <button type="button" class="btn btn-primary btn-block" id="write-btn">글쓰기</button>
    </div>
  </div>

  <script>
    function search() {
      const search = document.querySelector('[name=search]');
      location = `/board/list?search=${search.value}`;
    }

    document.querySelector('#write-btn').addEventListener('click', () => {
      location = '/board/write';
    });
  </script>

  <div th:replace="common/footer"></div>

</body>

</html>