<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head">
</head>

<body>

  <div th:replace="common/header"></div>

  <nav th:replace="common/nav"></nav>

  <div class="container mt-5">
    <div class="row">
      <!-- <form method="post" action="/board/write"> -->
      <form method="post" action="/board/write" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
          <label for="content">Content:</label>
          <textarea class="form-control" rows="5" name="content" id="content"></textarea>
        </div>
        <div class="mb-3">
          <label for="file">파일첨부:</label>
          <input type="file" class="form-control" id="file" name="file">
          <!-- accept="image/*" : 이미지 파일만 첨부할 수 있도록 설정  -->
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" id="complete">글쓰기</button>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="common/footer"></div>

</body>

</html>